In [1]:
!pip install spark

Requirement already satisfied: spark in c:\users\amanka5\anaconda3\lib\site-packages (0.2.1)

In [2]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\amanka5\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\amanka5\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: findspark in c:\users\amanka5\anaconda3\lib\site-packages (2.0.1)

In [3]:
from pyspark.shell import spark

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.3.0
      /_/

Using Python version 3.9.12 (main, Apr  4 2022 05:22:27)
Spark context Web UI available at http://TS-STUDENT-5016.hsd1.il.comcast.net:4042
Spark context available as 'sc' (master = local[*], app id = local-1666576443099).
SparkSession available as 'spark'.

In [4]:
import pyspark
import pandas as pd

In [5]:
# Installing findspark - a python library to find Spark
!pip install -q findspark

In [6]:
##Loading spark session
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession

In [7]:
import os
os.environ["JAVA_HOME"] = "C:/Program Files/Java/jdk1.8.0_341-amd64"
os.environ["SPARK_HOME"] = "C:/Users/amanka5/Spark/spark-3.3.0-bin-hadoop2"

In [8]:
import pandas as pd
df = pd.read_csv("C:/Users/amanka5/Desktop/Amazondata.csv", on_bad_lines='skip')

In [9]:
df.head()

,id_str,tweet_created_at,user_screen_name,user_id_str,user_statuses_count,user_favourites_count,user_protected,user_listed_count,user_following,user_description,...,tweet_language,text_,favorite_count,favorited,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,retweet_count,retweeted,text
0,'793270689780203520',Tue Nov 01 01:57:25 +0000 2016,SeanEPanjab,143515471.0,51287,4079,False,74,False,Content marketer; Polyglot; Beard aficionado; ...,...,en,@AmazonHelp Can you please DM me? A product I ...,0,False,AmazonHelp,NaN,85741735.0,0,False,NaN
1,'793281386912354304',Tue Nov 01 02:39:55 +0000 2016,AmazonHelp,85741735.0,2225450,11366,False,796,False,We answer Amazon support questions 7 days a we...,...,en,"@SeanEPanjab I'm sorry, we're unable to DM you...",0,False,SeanEPanjab,7.932707e+17,143515471.0,0,False,NaN
2,'793501578766319616',Tue Nov 01 17:14:53 +0000 2016,SeanEPanjab,143515471.0,51287,4079,False,74,False,Content marketer; Polyglot; Beard aficionado; ...,...,en,@AmazonHelp It was purchased on https://t.co/g...,0,False,AmazonHelp,7.932814e+17,85741735.0,0,False,@AmazonHelp It was purchased on https://t.co/g...
3,'793501657346682880',Tue Nov 01 17:15:12 +0000 2016,SeanEPanjab,143515471.0,51287,4079,False,74,False,Content marketer; Polyglot; Beard aficionado; ...,...,en,"@AmazonHelp I am following you now, if it help...",0,False,AmazonHelp,7.932814e+17,85741735.0,0,False,NaN
4,'793502854459879424',Tue Nov 01 17:19:57 +0000 2016,AmazonHelp,85741735.0,2225450,11366,False,796,False,We answer Amazon support questions 7 days a we...,...,en,@SeanEPanjab Please give us a call/chat so we ...,0,False,SeanEPanjab,7.935016e+17,143515471.0,0,False,@SeanEPanjab Please give us a call/chat so we ...

In [10]:
df.columns

Index(['id_str', 'tweet_created_at', 'user_screen_name', 'user_id_str',
       'user_statuses_count', 'user_favourites_count', 'user_protected',
       'user_listed_count', 'user_following', 'user_description',
       'user_location', 'user_verified', 'user_followers_count',
       'user_friends_count', 'user_created_at', 'tweet_language', 'text_',
       'favorite_count', 'favorited', 'in_reply_to_screen_name',
       'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'retweet_count',
       'retweeted', 'text'],
      dtype='object')

In [11]:
df.dtypes

id_str                        object
tweet_created_at              object
user_screen_name              object
user_id_str                  float64
user_statuses_count            int64
user_favourites_count          int64
user_protected                  bool
user_listed_count              int64
user_following                  bool
user_description              object
user_location                 object
user_verified                   bool
user_followers_count           int64
user_friends_count             int64
user_created_at               object
tweet_language                object
text_                         object
favorite_count                 int64
favorited                       bool
in_reply_to_screen_name       object
in_reply_to_status_id_str    float64
in_reply_to_user_id_str      float64
retweet_count                  int64
retweeted                       bool
text                          object
dtype: object

In [12]:
df.shape

(378132, 25)

In [13]:
df.columns

Index(['id_str', 'tweet_created_at', 'user_screen_name', 'user_id_str',
       'user_statuses_count', 'user_favourites_count', 'user_protected',
       'user_listed_count', 'user_following', 'user_description',
       'user_location', 'user_verified', 'user_followers_count',
       'user_friends_count', 'user_created_at', 'tweet_language', 'text_',
       'favorite_count', 'favorited', 'in_reply_to_screen_name',
       'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'retweet_count',
       'retweeted', 'text'],
      dtype='object')

#Step 1: Remove the records where “user_verified” is “FALSE”

In [14]:
df1 = df[df['user_verified'] == True]

In [15]:
df1['user_verified']

1         True
4         True
5         True
8         True
10        True
          ...
378122    True
378124    True
378127    True
378129    True
378131    True
Name: user_verified, Length: 171898, dtype: bool

In [16]:
df1['user_verified'].count()

171898

#Step 2: For the remaining records (“user_verified” is “TRUE”), group by created date, and count the number of tweets for each date.

In [17]:
df1.dtypes

id_str                        object
tweet_created_at              object
user_screen_name              object
user_id_str                  float64
user_statuses_count            int64
user_favourites_count          int64
user_protected                  bool
user_listed_count              int64
user_following                  bool
user_description              object
user_location                 object
user_verified                   bool
user_followers_count           int64
user_friends_count             int64
user_created_at               object
tweet_language                object
text_                         object
favorite_count                 int64
favorited                       bool
in_reply_to_screen_name       object
in_reply_to_status_id_str    float64
in_reply_to_user_id_str      float64
retweet_count                  int64
retweeted                       bool
text                          object
dtype: object

In [18]:
df1.tweet_created_at

1         Tue Nov 01 02:39:55 +0000 2016
4         Tue Nov 01 17:19:57 +0000 2016
5         Tue Nov 01 17:25:26 +0000 2016
8         Tue Nov 01 18:02:03 +0000 2016
10        Tue Nov 01 03:59:02 +0000 2016
                       ...
378122    Wed Aug 02 00:04:31 +0000 2017
378124    Tue Aug 01 23:53:52 +0000 2017
378127    Tue Aug 01 23:59:28 +0000 2017
378129    Tue Aug 01 23:51:30 +0000 2017
378131    Wed Aug 02 02:00:00 +0000 2017
Name: tweet_created_at, Length: 171898, dtype: object

In [19]:
df1['tweet_created_at'] = pd.to_datetime(df1['tweet_created_at'], errors='coerce')

C:\Users\amanka5\AppData\Local\Temp\ipykernel_26832\2096668811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['tweet_created_at'] = pd.to_datetime(df1['tweet_created_at'], errors='coerce')

In [20]:
df1['tweet_created_at'].dt.day_name()

1           Tuesday
4           Tuesday
5           Tuesday
8           Tuesday
10          Tuesday
            ...
378122    Wednesday
378124      Tuesday
378127      Tuesday
378129      Tuesday
378131    Wednesday
Name: tweet_created_at, Length: 171898, dtype: object

In [21]:
df1['tweet_created_at']=df1['tweet_created_at'].apply(lambda x:x.ctime().split(' '))
df1['tweet_created_at']=df1['tweet_created_at'].apply(lambda x:' '.join([x[1],x[3]]))

C:\Users\amanka5\AppData\Local\Temp\ipykernel_26832\3130030037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['tweet_created_at']=df1['tweet_created_at'].apply(lambda x:x.ctime().split(' '))
C:\Users\amanka5\AppData\Local\Temp\ipykernel_26832\3130030037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['tweet_created_at']=df1['tweet_created_at'].apply(lambda x:' '.join([x[1],x[3]]))

In [22]:
dates = df1['tweet_created_at']

In [23]:
print(dates)

1         Nov 1
4         Nov 1
5         Nov 1
8         Nov 1
10        Nov 1
          ...
378122    Aug 2
378124    Aug 1
378127    Aug 1
378129    Aug 1
378131    Aug 2
Name: tweet_created_at, Length: 171898, dtype: object

In [24]:
import string 
import re 
import warnings
warnings.filterwarnings('ignore')

In [25]:
num_of_tweets = df1.groupby(['tweet_created_at']).size().reset_index(name='counts')

In [26]:
print(num_of_tweets)

      tweet_created_at  counts
0         Apr 00:00:00       2
1         Apr 00:00:03       1
2         Apr 00:00:26       1
3         Apr 00:00:31       1
4         Apr 00:00:32       1
...                ...     ...
74083            Nov 5    1058
74084            Nov 6     357
74085            Nov 7     592
74086            Nov 8     519
74087            Nov 9     231

[74088 rows x 2 columns]

In [27]:
df1.sort_values('tweet_created_at', ascending=False).head(10)

,id_str,tweet_created_at,user_screen_name,user_id_str,user_statuses_count,user_favourites_count,user_protected,user_listed_count,user_following,user_description,...,tweet_language,text_,favorite_count,favorited,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,retweet_count,retweeted,text
10630,'796486899347193856',Nov 9,AmazonHelp,85741735.0,2225790,11368,False,797,False,We answer Amazon support questions 7 days a we...,...,en,@SloaneEsq Please reach us via phone or chat a...,0,False,SloaneEsq,7.964857e+17,6.798862e+06,0,False,@SloaneEsq Please reach us via phone or chat a...
9591,'796141390321373192',Nov 9,AmazonHelp,85741735.0,2225779,11368,False,797,False,We answer Amazon support questions 7 days a we...,...,en,@Desi_tamancha by the said press release of th...,0,False,Desi_tamancha,7.960326e+17,3.875058e+08,0,False,NaN
10395,'796437958186455040',Nov 9,AmazonHelp,85741735.0,2225858,11367,False,792,False,We answer Amazon support questions 7 days a we...,...,en,@dilbil143 Please don't provide your tracking#...,0,False,dilbil143,7.963863e+17,1.272525e+09,0,False,NaN
7812,'796297417033453569',Nov 9,AmazonHelp,85741735.0,2225738,11368,False,792,False,We answer Amazon support questions 7 days a we...,...,en,@mcurie You guessed it right! Here is another ...,1,False,mcurie,7.962683e+17,1.447249e+07,0,False,@mcurie You guessed it right! Here is another ...
7810,'796261417368293376',Nov 9,AmazonHelp,85741735.0,2225738,11368,False,792,False,We answer Amazon support questions 7 days a we...,...,en,@mcurie Beautifully done *claps*. Our new deli...,1,False,mcurie,7.956782e+17,1.447249e+07,0,False,@mcurie Beautifully done *claps*. Our new deli...
10394,'796437659061256210',Nov 9,AmazonHelp,85741735.0,2225858,11367,False,792,False,We answer Amazon support questions 7 days a we...,...,en,"@dilbil143 Hi, sorry for the trouble you're ha...",0,False,dilbil143,7.963854e+17,1.272525e+09,0,False,"@dilbil143 Hi, sorry for the trouble you're ha..."
10389,'796498476901273600',Nov 9,AmazonHelp,85741735.0,2225786,11368,False,797,False,We answer Amazon support questions 7 days a we...,...,en,@onedurr Please contact us here: https://t.co/...,1,False,onedurr,7.964974e+17,2.724701e+07,0,False,@onedurr Please contact us here: https://t.co/...
10387,'796388492653854720',Nov 9,AmazonHelp,85741735.0,2225786,11368,False,797,False,We answer Amazon support questions 7 days a we...,...,en,@onedurr The first step you need to take is: h...,0,False,onedurr,7.963826e+17,2.724701e+07,0,False,@onedurr The first step you need to take is: h...
10385,'796372937980968960',Nov 9,AmazonHelp,85741735.0,2225795,11368,False,797,False,We answer Amazon support questions 7 days a we...,...,en,@PetrescuCosmin1 I'm sorry for the wait! Is it...,0,False,PetrescuCosmin1,7.963702e+17,3.523578e+09,0,False,@PetrescuCosmin1 I'm sorry for the wait! Is it...
10378,'796502068915830786',Nov 9,AmazonHelp,85741735.0,2225785,11368,False,797,False,We answer Amazon support questions 7 days a we...,...,en,@gtabassum I'm sorry for the inconvenience. Pl...,0,False,gtabassum,7.964030e+17,6.141606e+07,0,False,@gtabassum I'm sorry for the inconvenience. Pl...

In [28]:
df1['tweet_created_at'].value_counts().head(5)

Jan 3    1536
Jan 6    1364
Jan 7    1360
Mar 2    1298
Dec 3    1201
Name: tweet_created_at, dtype: int64

In [29]:
sum_column = df1.loc[df1['tweet_created_at'] == 'Jan 3']

In [30]:
sum_column

,id_str,tweet_created_at,user_screen_name,user_id_str,user_statuses_count,user_favourites_count,user_protected,user_listed_count,user_following,user_description,...,tweet_language,text_,favorite_count,favorited,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,retweet_count,retweeted,text
66462,'816139627270721537',Jan 3,AmazonHelp,85741735.0,2192489,11066,False,792,False,We answer Amazon support questions 7 days a we...,...,en,@mcp111 Hey! We'll have this looked into inter...,0,False,mcp111,8.161344e+17,1.517868e+07,0,False,NaN
66464,'816357712732819467',Jan 3,AmazonHelp,85741735.0,2192489,11066,False,792,False,We answer Amazon support questions 7 days a we...,...,en,"@mcp111 Hi there, you can change the country f...",0,False,mcp111,8.163478e+17,1.517868e+07,0,False,NaN
66811,'816167583263162369',Jan 3,AmazonHelp,85741735.0,2193362,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,en,"@stevebrowne Hi Steve, sorry to hear this. As ...",0,False,stevebrowne,8.161666e+17,6.672772e+06,0,False,"@stevebrowne Hi Steve, sorry to hear this. As ..."
66943,'816326113660174336',Jan 3,AmazonHelp,85741735.0,2192505,11066,False,793,False,We answer Amazon support questions 7 days a we...,...,en,@boozysmurf We'd like the chance to look into ...,0,False,boozysmurf,8.163219e+17,1.675239e+07,0,False,@boozysmurf We'd like the chance to look into ...
67453,'816359349358575616',Jan 3,AmazonHelp,85741735.0,2192463,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,en,@MeghanSuslak If you have the tracking ID from...,0,False,MeghanSuslak,8.163582e+17,2.284562e+08,0,False,@MeghanSuslak If you have the tracking ID from...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78198,'816433714473402369',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,en,@jillkluke If it doesn't arrive tomorrow by 8p...,0,False,jillkluke,8.164330e+17,5.244206e+07,0,False,@jillkluke If it doesn't arrive tomorrow by 8p...
78200,'816431448928514049',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,en,@AriannaDelBene Hi- Thanks so much for bringin...,1,False,AriannaDelBene,8.164299e+17,2.153521e+09,0,False,NaN
78202,'816430945679147008',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,en,@TwinPines85 I'm sorry but not all orders are ...,0,False,TwinPines85,8.164301e+17,4.343482e+07,0,False,@TwinPines85 I'm sorry but not all orders are ...
78204,'816432570300764160',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,en,@_BrianMahoney I apologize for the delay. If y...,0,False,_BrianMahoney,8.164308e+17,2.573027e+07,0,False,@_BrianMahoney I apologize for the delay. If y...
78206,'816432057274552320',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,en,@12th__Fan Sorry they've been late. Have you c...,0,False,12th__Fan,8.164310e+17,2.896091e+08,0,False,@12th__Fan Sorry they've been late. Have you c...

In [32]:
sum_column['sum_count'] = sum_column['favorite_count'] + sum_column['retweet_count']

In [33]:
sum_column

,id_str,tweet_created_at,user_screen_name,user_id_str,user_statuses_count,user_favourites_count,user_protected,user_listed_count,user_following,user_description,...,text_,favorite_count,favorited,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,retweet_count,retweeted,text,sum_count
66462,'816139627270721537',Jan 3,AmazonHelp,85741735.0,2192489,11066,False,792,False,We answer Amazon support questions 7 days a we...,...,@mcp111 Hey! We'll have this looked into inter...,0,False,mcp111,8.161344e+17,1.517868e+07,0,False,NaN,0
66464,'816357712732819467',Jan 3,AmazonHelp,85741735.0,2192489,11066,False,792,False,We answer Amazon support questions 7 days a we...,...,"@mcp111 Hi there, you can change the country f...",0,False,mcp111,8.163478e+17,1.517868e+07,0,False,NaN,0
66811,'816167583263162369',Jan 3,AmazonHelp,85741735.0,2193362,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@stevebrowne Hi Steve, sorry to hear this. As ...",0,False,stevebrowne,8.161666e+17,6.672772e+06,0,False,"@stevebrowne Hi Steve, sorry to hear this. As ...",0
66943,'816326113660174336',Jan 3,AmazonHelp,85741735.0,2192505,11066,False,793,False,We answer Amazon support questions 7 days a we...,...,@boozysmurf We'd like the chance to look into ...,0,False,boozysmurf,8.163219e+17,1.675239e+07,0,False,@boozysmurf We'd like the chance to look into ...,0
67453,'816359349358575616',Jan 3,AmazonHelp,85741735.0,2192463,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,@MeghanSuslak If you have the tracking ID from...,0,False,MeghanSuslak,8.163582e+17,2.284562e+08,0,False,@MeghanSuslak If you have the tracking ID from...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78198,'816433714473402369',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,@jillkluke If it doesn't arrive tomorrow by 8p...,0,False,jillkluke,8.164330e+17,5.244206e+07,0,False,@jillkluke If it doesn't arrive tomorrow by 8p...,0
78200,'816431448928514049',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,@AriannaDelBene Hi- Thanks so much for bringin...,1,False,AriannaDelBene,8.164299e+17,2.153521e+09,0,False,NaN,1
78202,'816430945679147008',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,@TwinPines85 I'm sorry but not all orders are ...,0,False,TwinPines85,8.164301e+17,4.343482e+07,0,False,@TwinPines85 I'm sorry but not all orders are ...,0
78204,'816432570300764160',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,@_BrianMahoney I apologize for the delay. If y...,0,False,_BrianMahoney,8.164308e+17,2.573027e+07,0,False,@_BrianMahoney I apologize for the delay. If y...,0
78206,'816432057274552320',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,@12th__Fan Sorry they've been late. Have you c...,0,False,12th__Fan,8.164310e+17,2.896091e+08,0,False,@12th__Fan Sorry they've been late. Have you c...,0

In [34]:
d = sum_column.sort_values(by = 'sum_count', ascending=False)

In [35]:
d

,id_str,tweet_created_at,user_screen_name,user_id_str,user_statuses_count,user_favourites_count,user_protected,user_listed_count,user_following,user_description,...,text_,favorite_count,favorited,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,retweet_count,retweeted,text,sum_count
77040,'816329761530093568',Jan 3,bhagyashree123,116392212.0,6683,230,False,322,False,"actress, mother, health enthusiast, travel jun...",...,"@amazon worst shopping experience, no servic...",4,False,amazon,NaN,2.079382e+07,1,False,NaN,5
74929,'816083406962434048',Jan 3,AmazonHelp,85741735.0,2193379,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,@ItsJosshA We always aim to deliver by the dat...,2,False,ItsJosshA,8.160816e+17,2.573227e+09,1,False,NaN,3
75021,'816095108013654017',Jan 3,AmazonHelp,85741735.0,2193377,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,@KStefl Sounds like you know what to add to yo...,1,False,KStefl,8.160924e+17,3.008914e+08,1,False,NaN,2
76792,'816314295680110593',Jan 3,AmazonHelp,85741735.0,2193308,11081,False,790,False,We answer Amazon support questions 7 days a we...,...,@thedexterouz Hi! We'd like to help. When you ...,2,False,thedexterouz,8.163107e+17,9.716845e+07,0,False,@thedexterouz Hi! We'd like to help. When you ...,2
75137,'816109446069911554',Jan 3,AmazonHelp,85741735.0,2193376,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@Schoey1992 Happy Birthday, Matt! #FriendsFore...",1,False,Schoey1992,8.161048e+17,4.069085e+08,1,False,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75826,'816220916560625664',Jan 3,AmazonHelp,85741735.0,2193351,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@wasimbinpeer Hi, although we try to resolve a...",0,False,wasimbinpeer,8.162168e+17,6.254646e+08,0,False,NaN,0
75824,'816216656192094208',Jan 3,AmazonHelp,85741735.0,2193351,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@wasimbinpeer Hi, in this case request you to ...",0,False,wasimbinpeer,8.162147e+17,6.254646e+08,0,False,NaN,0
75822,'816212738963865601',Jan 3,AmazonHelp,85741735.0,2193351,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,@wasimbinpeer assist you with the issue. 2/2 ^SH,0,False,wasimbinpeer,8.162078e+17,6.254646e+08,0,False,NaN,0
75821,'816212738561208320',Jan 3,AmazonHelp,85741735.0,2193351,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@wasimbinpeer Hi, as said earlier please reply...",0,False,wasimbinpeer,8.162078e+17,6.254646e+08,0,False,NaN,0
78206,'816432057274552320',Jan 3,AmazonHelp,85741735.0,2192454,11066,False,790,False,We answer Amazon support questions 7 days a we...,...,@12th__Fan Sorry they've been late. Have you c...,0,False,12th__Fan,8.164310e+17,2.896091e+08,0,False,@12th__Fan Sorry they've been late. Have you c...,0

In [36]:
data = d.nlargest(100, 'sum_count')

In [37]:
data

,id_str,tweet_created_at,user_screen_name,user_id_str,user_statuses_count,user_favourites_count,user_protected,user_listed_count,user_following,user_description,...,text_,favorite_count,favorited,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,retweet_count,retweeted,text,sum_count
77040,'816329761530093568',Jan 3,bhagyashree123,116392212.0,6683,230,False,322,False,"actress, mother, health enthusiast, travel jun...",...,"@amazon worst shopping experience, no servic...",4,False,amazon,NaN,2.079382e+07,1,False,NaN,5
74929,'816083406962434048',Jan 3,AmazonHelp,85741735.0,2193379,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,@ItsJosshA We always aim to deliver by the dat...,2,False,ItsJosshA,8.160816e+17,2.573227e+09,1,False,NaN,3
75021,'816095108013654017',Jan 3,AmazonHelp,85741735.0,2193377,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,@KStefl Sounds like you know what to add to yo...,1,False,KStefl,8.160924e+17,3.008914e+08,1,False,NaN,2
76792,'816314295680110593',Jan 3,AmazonHelp,85741735.0,2193308,11081,False,790,False,We answer Amazon support questions 7 days a we...,...,@thedexterouz Hi! We'd like to help. When you ...,2,False,thedexterouz,8.163107e+17,9.716845e+07,0,False,@thedexterouz Hi! We'd like to help. When you ...,2
75137,'816109446069911554',Jan 3,AmazonHelp,85741735.0,2193376,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@Schoey1992 Happy Birthday, Matt! #FriendsFore...",1,False,Schoey1992,8.161048e+17,4.069085e+08,1,False,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75548,'816163919597338625',Jan 3,AmazonHelp,85741735.0,2193364,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@QueenAttallah If you're waiting on an order, ...",1,False,QueenAttallah,8.161551e+17,7.316979e+17,0,False,"@QueenAttallah If you're waiting on an order, ...",1
75225,'816119611733188608',Jan 3,AmazonHelp,85741735.0,2193372,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,"@AthenaRivera4 Feel better soon, Athena! We'd ...",1,False,AthenaRivera4,8.161145e+17,2.251318e+09,0,False,NaN,1
76025,'816236161882607620',Jan 3,AmazonHelp,85741735.0,2193345,11081,False,792,False,We answer Amazon support questions 7 days a we...,...,@AbhinavSaroj3 features and customer experienc...,1,False,AbhinavSaroj3,8.162343e+17,7.657587e+17,0,False,@AbhinavSaroj3 features and customer experienc...,1
76014,'816231065949847552',Jan 3,singhvarun,47325599.0,26934,4064,False,32,False,"Assistant Editor, MA in Politics, LLB, Journal...",...,Thanks @amazonIN for delivering me a receiver ...,1,False,NaN,NaN,NaN,0,False,Thanks @amazonIN for delivering me a receiver ...,1
76982,'816327877415370752',Jan 3,AmazonHelp,85741735.0,2192504,11066,False,793,False,We answer Amazon support questions 7 days a we...,...,"@jemappellepatty Hi Patty, we can certainly lo...",0,False,jemappellepatty,8.163252e+17,1.506524e+07,0,False,"@jemappellepatty Hi Patty, we can certainly lo...",0

In [38]:
datatext = data['text_']

In [39]:
datatext

77040    @amazon worst shopping  experience,  no servic...
74929    @ItsJosshA We always aim to deliver by the dat...
75021    @KStefl Sounds like you know what to add to yo...
76792    @thedexterouz Hi! We'd like to help. When you ...
75137    @Schoey1992 Happy Birthday, Matt! #FriendsFore...
                               ...
75548    @QueenAttallah If you're waiting on an order, ...
75225    @AthenaRivera4 Feel better soon, Athena! We'd ...
76025    @AbhinavSaroj3 features and customer experienc...
76014    Thanks @amazonIN for delivering me a receiver ...
76982    @jemappellepatty Hi Patty, we can certainly lo...
Name: text_, Length: 100, dtype: object

In [ ]:
import sys
 
from pyspark import SparkContext, SparkConf


from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [40]:
ss = SparkContext.getOrCreate()

In [ ]:
sp = spark.createDataFrame(data.astype(str))

In [ ]:
sp

In [ ]:
sc = SparkContext()

In [48]:
sp_df = ss.textFile('datatext').flatMap(lambda line: line.split(" "))

In [49]:
wordCounts = sp_df.map(lambda word: (word, 1)).reduceByKey(lambda a, b:a + b).collect()

Py4JJavaError: An error occurred while calling o46.partitions.
: org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: file:/C:/Users/amanka5/datatext
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:287)
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:229)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:315)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:208)
	at org.apache.spark.rdd.RDD.$anonfun$partitions$2(RDD.scala:292)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:49)
	at org.apache.spark.rdd.RDD.$anonfun$partitions$2(RDD.scala:292)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:288)
	at org.apache.spark.api.java.JavaRDDLike.partitions(JavaRDDLike.scala:61)
	at org.apache.spark.api.java.JavaRDDLike.partitions$(JavaRDDLike.scala:61)
	at org.apache.spark.api.java.AbstractJavaRDDLike.partitions(JavaRDDLike.scala:45)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)